/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.asset {
  display: flex;
}

.asset img {
  width: 100px;
  height: 100px;
  object-fit: scale-down;
}

.asset .title {
  font-size: large;
  font-weight: bold;
}

.asset .pack, .asset .creator {
  font-size: small;
}

.asset .info {
  margin-left: 10px;
}

.setting-warning {
  display: none;
  color: red;
}

.actions button {
  margin: 3px;
}